<div class="container d-flex flex-column justify-content-center align-items-center">

    <div class="form-group d-flex flex-row align-items-center gap-2 my-4 flex-wrap">
      <div class="d-flex flex-column align-items-start">
        <label class="mb-1">Where to?</label>
        <input type="text" [formControl]="whereto" class="form-control" style="width: 200px;" />
      </div>
  
      <div class="d-flex flex-column align-items-start">
        <label class="mb-1">Budget?</label>
        <input type="text" [formControl]="budget" class="form-control" style="width: 200px;" />
      </div>      
  
      <button (click)="getTrip(whereto.value, budget.value)" class="btn-3d mt-4">Go</button>
    </div>
  
    <google-map height="500px" width="80vw" [center]="center" [zoom]="zoom">
      <map-directions-renderer *ngIf="directionsResults" [directions]="directionsResults"></map-directions-renderer>
    </google-map>



    <div *ngIf="itinerary">
      <div *ngFor="let day of objectKeys(itinerary)">
        <div *ngFor="let time of objectKeys(itinerary[day])" class="mb-5">
            <strong>Activity:</strong> {{ itinerary[day][time].activity }} <br>
            <strong>Cost:</strong> {{ itinerary[day][time].cost }} <br>
            <strong>Description:</strong> {{ itinerary[day][time].description }}
        </div>
      </div>
    </div>
  
</div>