<div class="container-fluid d-flex flex-column justify-content-center align-items-center min-vh-100">

    <div class="row w-100">
        <div class="col d-flex align-items-center justify-content-center" id="hi-name">
            Hi Devankshi
        </div>
    </div>

    <div class="row w-100 mt-3">
        <div class="col d-flex align-items-center justify-content-center" id="home-buttons">
            <a routerLink="/safemap" class="btn-3d" routerLinkActive="active-link">Safe Map?</a>
            <a routerLink="/plantrip" class="mx-3 btn-3d" routerLinkActive="active-link">Plan Trip?</a>
            <a routerLink="/feelinglucky" class="btn-3d" routerLinkActive="active-link">Feeling Lucky!</a>
        </div>
    </div>

</div>
