<div class="container vh-100">

    <div class="row">
        <div class="col" id="logo">
            <a routerLink="/">Safe Streets</a>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col" id="hi-name">
            Hi Devankshi
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col" id="home-buttons">
            <a routerLink="/safemap" routerLinkActive="active-link">safe map</a>
            <a routerLink="/plantrip" routerLinkActive="active-link">plan trip</a>
            <a routerLink="/feelinglucky" routerLinkActive="active-link">feeling lucky</a>
        </div>
    </div>

</div>

  