<div class="container d-flex flex-column justify-content-center align-items-center">

    <div class="form-group d-flex flex-row align-items-center gap-2 my-4 flex-wrap">
      <div class="d-flex flex-column align-items-start">
        <label class="mb-1">Where from?</label>
        <input type="text" [formControl]="wherefrom" class="form-control" style="width: 200px;" />
      </div>
  
      <div class="d-flex flex-column align-items-start">
        <label class="mb-1">Where to?</label>
        <input type="text" [formControl]="whereto" class="form-control" style="width: 200px;" />
      </div>
  
      <button (click)="getRoute()" class="btn-3d mt-4">Go</button>
    </div>
  
    <google-map height="500px" width="80vw" [center]="center" [zoom]="zoom">
      <map-directions-renderer *ngIf="directionsResults" [directions]="directionsResults"></map-directions-renderer>
    </google-map>
  


    <!-- <google-map height="75vh" width="80vw" [center]="{lat: latitude, lng: longitude}" [zoom]="14">
        <map-marker [position]="{lat: latitude, lng: longitude}"></map-marker>
    </google-map> -->



    <!-- TODO: make an about page -->
    <!-- <div class="row">
        <div class="col">
            <h1>SafeMap</h1>
            <p>SafeMap is a tool that helps you find the safest route to your destination.</p>
            <p>It uses data from various sources to calculate the safest route based on crime rates, traffic accidents, and other factors.</p>
            <p>To use SafeMap, simply enter your starting point and destination, and click "Get Route".</p>
        </div>
    </div> -->

</div>
