<div class="container d-flex flex-column justify-content-center align-items-center">

    <div class="row fillform my-5">
        <div class="col">
            <p>Where from?</p>
            <input type="text" [formControl]="wherefrom">
        </div>

        <div class="col">
            <p>Where to?</p>
            <input type="text" [formControl]="whereto">
        </div>

        <div class="col-auto my-auto">
            <button (click)="getRoute()" id="submitForm" class="btn-3d">Get Route</button>
        </div>
    </div>

    <div class="row" id="map">
        <div class="col">
            <!-- <gmp-map center="34.027435302734375,-118.28858184814453" zoom="14" map-id="DEMO_MAP_ID">
                <gmp-advanced-marker position="34.027435302734375,-118.28858184814453" title="My location"></gmp-advanced-marker>
            </gmp-map> -->
            <google-map height="400px" width="750px" [center]="center" [zoom]="zoom">
            </google-map>
            hello
        </div>
    </div>

    <!-- TODO: make an about page -->
    <!-- <div class="row">
        <div class="col">
            <h1>SafeMap</h1>
            <p>SafeMap is a tool that helps you find the safest route to your destination.</p>
            <p>It uses data from various sources to calculate the safest route based on crime rates, traffic accidents, and other factors.</p>
            <p>To use SafeMap, simply enter your starting point and destination, and click "Get Route".</p>
        </div>
    </div> -->

</div>