.col {
    width: 100px;
}

#logo a {
    text-decoration: none;
    color: black;
}

#profile a {
    text-decoration: none;
    color: black;
    float: right;
}

footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    align-items: center;
    height: 56px;
    display: flex;
    justify-content: center;
}